body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-header {
  width: 100%;
  padding: 10px 30px;
  background-color: rgb(209, 202, 158);
}
.main-header__item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.main-header__item {
  margin-right: 20px;
}
.main-header__item a {
  text-decoration: none;
  color: rgb(99, 87, 8);
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: rgb(41, 38, 38);
}
